* {
  box-sizing: border-box;
  margin: 8;
  padding: 0;
}

.article {
  width: 675px;
  text-align: center;
  background-color: #001d66;
  grid-template-columns: 675px;
  grid-template-rows: 120.859px 676.141px 46px;
  overflow: hidden;
  font-family: "Josefin Slab";
}

.Card {
  width: 135px;
  height: 32px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
  font-family: "Josefin Slab";
}

.article__meta {
  background-color: #fff;
  padding: 20px;
}

.article__title {
  font-size: 32px;
  font-weight: 700;
  color: #00257f;
  font-family: "Josefin Slab";
  margin: 32px 0px;
  text-transform: capitalize;
}

.article__thumbnail {
  width: 280px;
  height: 179px;
  display: inline;
  object-fit: cover;
  vertical-align: middle;
}

.article__date {
  color: #000000ab;
  font-family: "PT Serif";
  font-size: 12.8px;
  margin: 12.8px 0px;
}

.article__excerpt {
  font-size: 16px;
  line-height: 1.6; /*Trong CSS, thuộc tính "line-height: 1.6;" sẽ đặt khoảng cách giữa các dòng văn bản là 1.6 lần font chữ. Điều này giúp cải thiện tính đọc và hiển thị của văn bản trên trang web.*/
  color: #000000ab;
}

.article__read-more {
  color: #001d66;
  display: inline;
  font-family: "Josefin Slab", Serif;
  font-size: 13.913px;
  font-weight: 700;
  text-decoration: none;
}
