/* áp dụng cho tất cả nội dung */

* {
  text-decoration: overline yellow wavy 3px;
}
.heading {
  font-size: 50px;
  background-color: green;
  color: white;
  text-align: center;
}

/* áp dụng cho nhiều selector khác nhau */
.description,
.external-link {
  text-decoration: overline;
  color: pink;
}

/*  áp dụng cho .avatar nằm bên trong .container (là thẻ con) */
.container > .avatar {
  width: 160px;
}
/* áp dụng cho phần tử có cả hai class  */
.heading.special-heading {
  color: blue;
}
